.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page__container {
	max-width: 1300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page__header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 4em;
	background: #3c3c3c;
}

[class$="-block"] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	max-width: 700px;
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	border: 1px solid rgb(118 118 118);
	margin: 90px 25px;
	box-shadow: 1px 1px 20px -3px #404040;
}

[class$="-form"] {
	display: flex;
	flex-direction: column;
	align-items: center;
}

[class$="-form__error"] {
	padding: 15px 0 30px;
	color: #cf1818;
	min-height: 1em;
	max-width: 400px;
	text-align: center;
}

[class$="-form__input-wrapper"] {
	padding-top: 10px;
}

[class$="-form__field-label"] {
	display: inline-block;
	width: 4em;
	font-size: 16px;
	margin-right: 15px;
}

[class$="-form__field-input"] {
	padding: 5px 10px;
}

[class$="-form__submit"] {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #3ab93a;
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 5px;
	width: 8em;
	cursor: pointer;
}

[class$="-form__submit:active"] {
	box-shadow: inset 0 0 15px 0px white;
	color: white;
}

[class$="-form__submit:hover"] {
	/* box-shadow: inset 0 0 10px 0px white; */
	background-color: #40cf40;
}

[class$="-block__message"] {
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.page__header-menu {
	max-width: 1300px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header-menu {
	display: flex;
}

.header-menu__link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 25px;
	box-sizing: border-box;
	background: #419f68;
	color: black;
	font-size: 25px;
	text-decoration: none;
}

.header-menu__link:hover {
	background: #4bb979;
	color: #efefef;
}

.login-or-logout-button {
	height: 100%;
	aspect-ratio: calc(144 + 4*89) / 89;
	display: flex;
	flex-direction: row;
}

.current_user_login,
.logout-button,
.login-button {
	height: 100%;
	aspect-ratio: 1/1;
	box-sizing: border-box;
	border: 4px outset black;
	cursor: pointer;
	font-size: 16px;
	font-family: "Times New Roman";
}

.current_user_login {
	aspect-ratio: calc(144 + 3* 89) / 89;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: burlywood;
	box-shadow: inset 0 0 0px 3px white;
	text-transform: capitalize;
	font-size: 18px;
	cursor: default;
}

.logout-button,
.login-button a {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.logout-button {
	background-color: lightgrey;
	color: rgb(204, 0, 0);
}

.login-button a {
	background-color: lightgrey;
	color: rgb(78, 154, 6);;
}

.tender-list {
	width: 100%;
}

.tender-list__header,
.tender-list-item {
	width: 100%;
	display: grid;
	grid-template-columns: 70px 1fr 3fr 1fr 1fr;
	justify-items: start;
	align-items: center;
	grid-column-gap: 20px;
	padding: 30px 20px;
	box-sizing: border-box;
}

.tender-list__header {
	border-bottom: 1px solid black;
	background-color: rgb(245, 245, 245);
	font-weight: bold;
	font-size: 18px;
	user-select: none;
}

.tender-list-item:nth-child(2n+2) {
	background-color: antiquewhite;
}

tender-list__items {
	display: contents;
}

.tender-list_without-buttons :where(.tender-list__header, .tender-list-item) {
	grid-template-columns: 1fr 3fr 1fr 1fr;
}

.tender-list__header-buttons {
	text-align: center;
	width: 100%;
}

.tender-list_without-buttons :where(.tender-list-item__buttons, .tender-list__header-buttons) {
	display: none;
}

.tender-list-item__buttons {
	user-select: none;
	user-select: none;
	display: flex;
	width: 100%;
	justify-content: center;
}

.tender-list-item__buttons label {
	font-size: 0;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: inset 0 0 2px black;
}

.tender-list-item__buttons input {
	display: none;
}

.tender-list-item__buttons input:checked+label::after {
	content: '\2713';
	display: flex;
	font-size: 30px;
}

.tender-list-item__buttons input:checked+label {
	box-shadow: inset 0 0 4px black;
}

.tender-list-item__is-saved {
	color: darkgreen;
	font-weight: bold;
}

.tender__title {
	font-weight: bold;
	padding-bottom: 10px;
}

.tender-search {
	width: 100%;
}

.tender-search__forms {
	display: flex;
	align-items: center;
}

.tender-search__form {
	/* width: 100%; */
	box-sizing: border-box;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.tender-search__form,
:where(.tender-search__forms) .tenders-form {
	padding: 20px 10px 10px;
}

:where(.tender-search__forms) .tenders-form__button {
	height: 32px;
	padding: 0px 15px;
}

.tender-search__label {
	margin-right: 15px;
}

.tender-search__search-input {
	padding: 5px 15px;
	font-size: 16px;
	width: 400px;
}

.tender-search__submit {
	height: 32px;
	padding: 0px 10px;
	cursor: pointer;
	background-color: mediumaquamarine;
}

.tender-search__total-tenders-count {
	padding: 15px 0px 0px;
	text-align: left;
	width: 100%;
	text-decoration: underline;
}

.tender-search__error-message,
.tender-search__emtpy-message,
.tender-list__loading,
.tender-list__loading-error {
	padding: 150px 20px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-size: 25px;
	background-color: #d7d7d7;
}

.tender-search__error-message,
.tender-list__loading-error {
	color: rgb(204, 0, 0);
}

.tender-search__select-mode {
	height: 32px;
	padding: 0px 10px;
}

.tender-search__note {
	padding: 15px 10px 5px;
	color: dimgrey;
}

.page-tender-import .tender_is-saved {
	background-color: #0080004f;
}

.pagination {
	padding: 30px 0;
	user-select: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, 50px);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	width: 100%;
	justify-content: center;
}

.pagination__nav-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	font-size: 18px;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	border: 2px solid;
	border-color: cornflowerblue;
	background-color: darkseagreen;
}

.pagination__nav-link:not(.pagination__nav-link_active):hover {
	background-color: #66bb66;
	cursor: pointer;
}

.pagination__nav-link_active {
	background-color: #6f936f;
	cursor: default;
}

.tender-list__try-again {
	width: 200px;
	height: 40px;
	font-size: 23px;
	margin-left: 30px;
	cursor: pointer;
}

.saved-tenders__forms {
	display: flex;
	width: 100%;
	padding: 10px 0 15px;
	flex-direction: row;
	justify-content: flex-start;
}

.tenders-form__button {
	height: 32px;
	padding: 0px 15px;
	cursor: pointer;
}

.detele-button {
	/* background-color: #efefef; */
	background-color: #de0307;
	border: 1px solid #767676;
	border-radius: 3px;
}

.detele-button:hover {
	background-color: #c10004;
}

.page-saved-tenders #tenders-form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tender_is-saved .tender-list-item__is-saved {
	display: block;
	text-align: center;
}

.searched-tenders .tender_is-saved :is(label, input) {
	display: none;
}

.tender-list-item__is-saved {
	display: none;
}

.users-block {
	max-width: 1100px;
	width: 100%;
}

.user-list {
	/* width: 100%; */
}

.user-list__header,
.user-list__item {
	display: grid;
	grid-template-columns: calc(3em + 30px) 1fr 1fr 110px 70px 90px;
	justify-items: center;
	border-bottom: 1px solid black;
	padding: 15px 10px 10px;
}

.user-list__header > *,
.user-list__item > * {
	justify-self: normal;
	padding: 15px;
}

.user-list__header {
	font-weight: bold;
	background-color: rgb(245, 245, 245);
	padding: 10px;
}

.user-list__item:nth-child(2n+2) {
	background-color: antiquewhite;
}

.users-block__message {
	border: 1px solid black;
	box-sizing: border-box;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 30px;
}

.users-block__message.complete {
	color: white;
	background-color: #72cf72;
}

.users-block__message.error {
	background-color: orangered;
}

.edit-user-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.edit-user-form__submit {
	text-wrap: nowrap;
	padding: 5px;
	margin-top: 10px;
	width: 11em;
}

.new-user-form__field-label,
.edit-user-form__field-label {
	text-wrap: nowrap;
	width: 100px;
}

.new-user-form__field-input,
.edit-user-form__field-input {
	width: 400px;
}

.user_is-disabled {
	color: grey;
}
.edit-user-form__submit-wrapper > [formaction="/users/disable"] {
	background-color: rgb(204, 0, 0);
}

.new-user-form__submit-wrapper button {
	width: 300px
}

.users-block__note {
	width: 100%;
	padding: 15px 0px 25px;
	color: dimgrey;
}
