.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page__container {
	max-width: 1300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page__header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 4em;
	background: #3c3c3c;
}

.login-block,
.error-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	width: 500px;
	background-color: white;
	border: 1px solid rgb(118 118 118);
	margin: 90px 25px;
	box-shadow: 1px 1px 20px -3px #404040;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form__error {
	padding: 15px 0 30px;
	color: #cf1818;
	min-height: 1em;
	max-width: 400px;
	text-align: center;
}

.login-form__input-wrapper {
	padding-top: 10px;
}

.login-form__field-label {
	display: inline-block;
	width: 4em;
	font-size: 16px;
	margin-right: 15px;
}

.login-form__field-input {
	padding: 5px 10px;
}

.login-form__submit {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #3ab93a;
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 5px;
	width: 8em;
	cursor: pointer;
}

.login-form__submit:active {
	box-shadow: inset 0 0 15px 0px white;
	color: white;
}

.login-form__submit:hover {
	/* box-shadow: inset 0 0 10px 0px white; */
	background-color: #40cf40;
}

.error-block__message {
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.page__header-menu {
	max-width: 1300px;
	width: 100%;
}

.header-menu {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.logout-button,
.login-button {
	height: 100%;
	aspect-ratio: 1/1;
	box-sizing: border-box;
	border: 4px outset black;
	cursor: pointer;
	font-size: 16px;
	font-family: "Times New Roman";
}

.logout-button,
.login-button a {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.logout-button {
	background-color: lightgrey;
	color: rgb(204, 0, 0);
}

.login-button a {
	background-color: lightgrey;
	color: rgb(78, 154, 6);;
}

.tender-list {
	width: 100%;
}

.tender-list__header,
.tender-list-item {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr;
	justify-items: start;
	align-items: center;
	grid-column-gap: 20px;
	padding: 30px 20px;
	box-sizing: border-box;
}

.tender-list__header {
	border-bottom: 1px solid black;
	background-color: rgb(245, 245, 245);
	font-weight: bold;
	font-size: 18px;
	user-select: none;
}

.tender-list-item:nth-child(2n+3) {
	background-color: antiquewhite;
}

.tender__title {
	font-weight: bold;
	padding-bottom: 10px;
}

.tender-search {
	width: 100%;
}

.tender-search__form {
	width: 100%;
	box-sizing: border-box;
	padding: 20px 10px 10px;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.tender-search__label {
	margin-right: 15px;
}

.tender-search__search-input {
	padding: 5px 15px;
	font-size: 16px;
	width: 400px;
}

.tender-search__submit {
	height: 32px;
	padding: 0px 10px;
	cursor: pointer;
	background-color: mediumaquamarine;
}

.tender-search__total-tenders-count {
	padding: 15px 0px 0px;
	text-align: left;
	width: 100%;
	text-decoration: underline;
}

.tender-search__error-message,
.tender-search__emtpy-message {
	padding: 150px 20px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-size: 25px;
	background-color: #d7d7d7;
}

.tender-search__error-message {
	color: rgb(204, 0, 0);
}
