.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page__container {
	max-width: 1300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page__header {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 4em;
	background: #3c3c3c;
}

.login-block,
.error-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	width: 500px;
	background-color: white;
	border: 1px solid rgb(118 118 118);
	margin: 90px 25px;
	box-shadow: 1px 1px 20px -3px #404040;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form__error {
	padding: 15px 0 30px;
	color: #cf1818;
	min-height: 1em;
	max-width: 400px;
	text-align: center;
}

.login-form__input-wrapper {
	padding-top: 10px;
}

.login-form__field-label {
	display: inline-block;
	width: 4em;
	font-size: 16px;
	margin-right: 15px;
}

.login-form__field-input {
	padding: 5px 10px;
}

.login-form__submit {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #3ab93a;
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 5px;
	width: 8em;
	cursor: pointer;
}

.login-form__submit:active {
	box-shadow: inset 0 0 15px 0px white;
	color: white;
}

.login-form__submit:hover {
	/* box-shadow: inset 0 0 10px 0px white; */
	background-color: #40cf40;
}

.error-block__message {
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.page__header-menu {
	max-width: 1300px;
	width: 100%;
}

.header-menu {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.logout-button,
.login-button {
	height: 100%;
	aspect-ratio: 1/1;
	box-sizing: border-box;
	border: 4px outset black;
}

.logout-button a,
.login-button a {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.logout-button a {
	background-color: lightgrey;
	color: rgb(204, 0, 0);
}

.login-button a {
	background-color: lightgrey;
	color: rgb(78, 154, 6);;
}

